@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Barriecito&family=Delius&display=swap');

:root {
    --primary: #428d74;
    --secondary: #f9f8f8;
    --teritary: #36b1a1;
    --white: #ffffff;
    --black: #000000;
    --OpenSans: "Open Sans", sans-serif;
    --font-heading: "Poppins", sans-serif;
}

body {
    background-image: url("Assets/bg_test.jpg");
    background-size: cover;      /* Make the background cover the entire viewport */
    background-attachment: fixed;
    background-repeat: no-repeat; /* Prevent the image from tiling */
    background-position: center;  /* Center the background image */
    margin: 0;
    padding: 0;
    font-family: var(--OpenSans);
    min-height: 100vh;
    text-align: center;
}

/* Heading */
h1 {
    color: var(--secondary);
    font-weight: 700;
    font-size: 2.2rem;
    margin: 0;

}

.loading-animation{
    min-width: 10rem;
    min-height: 10rem;
    margin: auto;
    margin-top: 3rem;
}

/* Navbar */
.navbar-container {
    width: 100%;
    min-height: 4rem;
    max-height: 4rem;
    background:  var(--primary);
    text-align: center;
    border: 1px solid rgba(var(--primary), 0.2);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    color: var(--secondary);
    padding: 1rem 0;
    backdrop-filter: blur(5px) saturate(150%); 
    display: flex;
    align-items: center;
    justify-content: center;   
}

.navbar-container h1{
    cursor: pointer;
    font-family: "Delius";
    font-size: 2.6rem;
}

/* Contact Info Styling */
.navbar-contact {
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--secondary);
    margin-bottom: 10px; /* Slightly more space below the contact info */
}

/* Menu Items Styling */
.navbar-menu-items {
    display: flex;
    justify-content: center;
    gap: 30px; /* Increase gap for better spacing between items */
    list-style: none;
    padding: 0;
}

.navbar-menu-items li {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--secondary);
    border-radius: 15px; /* Rounded corners for each item */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth color transition */
    padding: 8px 15px; /* Add padding for more clickable area */
}

/* Hover effect for menu items */
.navbar-menu-items li:hover {
    background-color: #A7D7C5; /* Subtle background change */
    color: var(--primary); /* Text color change on hover */
}

/* Link Styling */
.navbar-menu-items a {
    color: inherit;
    text-decoration: none;
    display: block; /* Ensure the entire area of the list item is clickable */
}


/* Search Bar */
.search-container {
    display: flex;
    max-width: 80vw;
    margin: 2rem auto;
}

.search-box {
    display: flex;
    align-items: center;
    border: 2px solid var(--primary);
    border-radius: 10px;
    padding: 0;
    background-color: var(--secondary);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.search-box input[type="text"] {
    border: none;
    outline: none;
    font-size: 1rem;
    margin: 0.6rem;
    color: var(--black);
    background-color: #ffffff00;
}

.search-container button {
    border: none;
    cursor: pointer;
    background-color: var(--secondary);
    margin: 0 0.5rem;
}
.search-container button img{
    max-height: 2rem;
}

.search-box button:hover {

    cursor: pointer;
}

/* Tips Box */
.tips-box {
    background-color: var(--secondary);
    border: 1px solid var(--primary);
    border-radius: 10px;
    padding: 2rem;
    max-width: 50em;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 6rem auto;
    list-style-type: none;
}

.tips-box h2 {
    color: var(--primary);
    font-size: 2rem;
}

.tips-box ul {
    list-style-position: inside;
    font-weight: bold;
    padding: 1rem 2rem 0rem;
}

.tips-box ul li {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.tips-box p{
    padding: 0rem 2rem;
}



.home-container{
    display: grid;
    grid-template-rows: 1fr 2fr 0.5fr 1fr;
}



/* Header container */
.header-container {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Vertically center items */
    justify-content: center; /* Center items horizontally */
    gap: 15px; /* Space between logo and heading */
    margin-top: 20px; /* Add some space above */
}

/* Logo styling */
.logo {
    width: 40px; /* Set the width of the logo */
    height: auto; /* Keep the aspect ratio */
}

/* Container for the buttons */
.button-container {
    display: flex; /* Use flexbox to arrange items horizontally */
    justify-content: center; /* Optional: center items horizontally */
    gap: 20px; /* Add spacing between buttons */
}

.itt-container img{
    max-height: 2rem;
    filter: invert(1) brightness(2);
}

.itt-container{
    display: flex;
    max-height: 4rem;
    margin: auto;
}

/* Styles for Capture Button */
.capture-button,.upload-button {
    padding: 1rem;
    margin: 0 0.5rem;
    border-radius: 10px;
    background-color: var(--black);
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.capture-button:hover, .upload-button:hover {
    background-color: var(--teritary);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}


.hero-section {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.confirm-container{
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
    width: 100%;
}

.confirm-container .confirm-img{
    margin: 2rem 1rem;
    min-height: 60vh;
    min-width: 20rem;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.confirm-text, .result-box{
    background-color: var(--white);
    border: 1px solid var(--primary);
    min-width: 20rem;
    max-width: 20rem;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 4rem;
    padding-bottom: 3rem;   
    min-height: 4rem;
}

.confirm-text button {
    padding: 1rem;
    margin: 0.5rem 1.5rem;
    border-radius: 10px;
    border-style: none;
    background-color: var(--black);
    color: var(--white);
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    width: 4rem;
}

.confirm-text button:hover {
    background-color: var(--teritary);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.confirm-text .yes-button{
    background-color: var(--primary);
}

.result-box p{
    margin: 1rem 2rem;
    font-size: 1rem;
}

.result-box{
    margin-top: -10rem;
    min-height: 19rem;
}

.result-box .loading-animation{
    min-width: 10rem;
    min-height: 10rem;
    margin: auto;
    background-color: var(--white);
    border-style: none;
    box-shadow: none;
    margin-top: 6rem;
}

.result-container .result-box{
    margin: 4rem auto;
    min-height: 65vh;
}

.result-box .search-box{
    margin: auto;
}

.result-box .itt-container{
    margin-left: 5rem;
}

.other-results ul{
    display: flex;
    flex-wrap: wrap;
}

.other-results li{
    list-style-type: none;
}


.other-results button {
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 10px;
    border-style: none;
    background-color: var(--secondary);
    color: var(--black);
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    border: 2px solid var(--primary);
}

.other-results button:hover {
    background-color: var(--teritary);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.other-results h3{
    margin: 2rem 0;
}


.footer-container {
    min-height: 30vh;
    background-color: var(--black);
    min-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    align-items: center; /* Center items vertically */
    justify-items: stretch; /* Ensure items stretch across columns */
}

.footer-container h1 {
    justify-self: start;
    color: var(--primary);
    font-family: "Delius";
    font-size: 4rem;
    margin-left: 4rem;
}

.footer-links{
    display: grid;
    justify-items: start;
    justify-self: end;
    align-content: center;
    margin-right: 4rem;
}

.footer-links a{
    display: flex;
    align-items: center;
}

.linkedin{
    fill: var(--primary);
    width: 1.6rem;
    margin-right: 0.5rem;
}

.footer-container a{
    color: var(--primary);
    text-decoration: none;
    font-size: 1.1rem;
    font-family: var(--OpenSans);
}





@media screen and (max-width: 600px) {
    .tips-box ul {
        padding: 0;
        list-style-position: inside;
        padding: 0;
    }

    .tips-box ul li{
        font-size: 1rem;
    }
    .tips-box {
        padding: 1rem;
        max-width: 80vw;
        margin: 6rem auto;
    }
    
    .tips-box h2 {
        font-size: 1.8rem;
    }

    .footer-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1.5fr;
    }
    .footer-container h1 {
        justify-self: center;
        margin-left: 0;
    }
    .footer-links{
        justify-items: start;
        justify-self: center;
        align-content: center;
        margin-right: 0;
        margin-bottom: 2rem;
    }
    .linkedin{
        width: 1.2rem;
    }
    
    .footer-container a{
        font-size: 1rem;
    }

}